<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SampleSharedServicesAPIFeed" value="https://pkgs.dev.azure.com/jobsmacoro/SampleSharedServicesApi_AzureDevOps/_packaging/SampleSharedServicesAPIFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>